packages: [
  "atom-alignment"
  "atom-runner"
  "atom-typescript"
  "Bart"
  "busy-signal"
  "emmet"
  "file-icons"
  "git-time-machine"
  "intentions"
  "language-demandware"
  "linter"
  "linter-stylelint"
  "linter-tslint"
  "linter-ui-default"
  "minimap"
  "mocha"
  "node-debugger"
  "package-sync"
  "term3"
]
